<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<context:property-placeholder location="classpath:prop/quartz/quartzConfig.properties"	ignore-unresolvable="true"/>
	<!-- 设置JOB -->
	
<!-- 	<bean id="helloJob" class="com.jo.demo.quartz.HelloJob"/> -->
	
	<bean id="joQuartzJob" class="com.jo.demo.quartz.JoQuartzJob"/>
	
	<!-- 指定定时执行方法 -->
<!-- 	<bean id="helloJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!-- 		<property name="targetObject"> -->
<!-- 			<ref bean="helloJob"/> -->
<!-- 		</property> -->
<!-- 		<property name="targetMethod"> -->
			<!-- 要执行的方法名称 --> 
<!-- 			<value>execute</value> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
	<bean id="joQuartzJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="joQuartzJob"/>
		</property>
		<property name="targetMethod">
			<!-- 要执行的方法名称 -->
			<value>execute</value>
		</property>
	</bean>
	
	
	<!-- ======================== 调度触发器 ======================== -->
<!-- 	<bean id="helloTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!-- 		<property name="jobDetail" ref="helloJobMethod"/> -->
<!-- 		<property name="cronExpression" value="${hello.cronExpression}"/> -->
<!-- 	</bean> -->
	
	<bean id="joQuartzTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="joQuartzJobMethod"/>
		<property name="cronExpression" value="${joQuartz.cronExpression}"/>
	</bean>
	
	<!-- ======================== 调度工厂 ======================== -->
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="triggers">
			<list>
<!-- 				<ref bean="helloTriggerBean"/> -->
				<ref bean="joQuartzTriggerBean"/>
			</list>
		</property>
	</bean>
</beans>
